In [2]:
import pandas as pd

In [3]:
Accidents = pd.read_csv('Resources/Accidents0515.csv')

In [4]:
vehicle_data = pd.read_csv('Resources/Vehicles0515.csv', error_bad_lines=False)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [5]:
vehicle_data.head()

,Accident_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,200501BS00001,1,9,0,18,0,0,0,0,0,...,1,15,2,74,10,-1,-1,-1,7,1
1,200501BS00002,1,11,0,4,0,3,0,0,0,...,1,1,1,42,7,8268,2,3,-1,-1
2,200501BS00003,1,11,0,17,0,0,0,4,0,...,1,1,1,35,6,8300,2,5,2,1
3,200501BS00003,2,9,0,2,0,0,0,0,0,...,1,15,1,62,9,1762,1,6,1,1
4,200501BS00004,1,9,0,18,0,0,0,0,0,...,1,15,2,49,8,1769,1,4,2,1

In [6]:
casualty_data = pd.read_csv('Resources/Casualties0515.csv', error_bad_lines=False)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [8]:
Accidents.shape

(1780653, 32)

In [9]:
Accidents.dtypes

Accident_Index                                  object
Location_Easting_OSGR                          float64
Location_Northing_OSGR                         float64
Longitude                                      float64
Latitude                                       float64
Police_Force                                     int64
Accident_Severity                                int64
Number_of_Vehicles                               int64
Number_of_Casualties                             int64
Date                                            object
Day_of_Week                                      int64
Time                                            object
Local_Authority_(District)                       int64
Local_Authority_(Highway)                       object
1st_Road_Class                                   int64
1st_Road_Number                                  int64
Road_Type                                        int64
Speed_limit                                      int64
Junction_Detail                                  int64
Junction_Control                                 int64
2nd_Road_Class                                   int64
2nd_Road_Number                                  int64
Pedestrian_Crossing-Human_Control                int64
Pedestrian_Crossing-Physical_Facilities          int64
Light_Conditions                                 int64
Weather_Conditions                               int64
Road_Surface_Conditions                          int64
Special_Conditions_at_Site                       int64
Carriageway_Hazards                              int64
Urban_or_Rural_Area                              int64
Did_Police_Officer_Attend_Scene_of_Accident      int64
LSOA_of_Accident_Location                       object
dtype: object

In [10]:
Accidents.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863

In [11]:
Accidents.count()

Accident_Index                                 1780653
Location_Easting_OSGR                          1780515
Location_Northing_OSGR                         1780515
Longitude                                      1780515
Latitude                                       1780515
Police_Force                                   1780653
Accident_Severity                              1780653
Number_of_Vehicles                             1780653
Number_of_Casualties                           1780653
Date                                           1780653
Day_of_Week                                    1780653
Time                                           1780502
Local_Authority_(District)                     1780653
Local_Authority_(Highway)                      1780653
1st_Road_Class                                 1780653
1st_Road_Number                                1780653
Road_Type                                      1780653
Speed_limit                                    1780653
Junction_Detail                                1780653
Junction_Control                               1780653
2nd_Road_Class                                 1780653
2nd_Road_Number                                1780653
Pedestrian_Crossing-Human_Control              1780653
Pedestrian_Crossing-Physical_Facilities        1780653
Light_Conditions                               1780653
Weather_Conditions                             1780653
Road_Surface_Conditions                        1780653
Special_Conditions_at_Site                     1780653
Carriageway_Hazards                            1780653
Urban_or_Rural_Area                            1780653
Did_Police_Officer_Attend_Scene_of_Accident    1780653
LSOA_of_Accident_Location                      1651182
dtype: int64

In [12]:
cleaned_Missing_Values = Accidents.dropna(subset=['LSOA_of_Accident_Location'])
cleaned_Missing_Values.count()

Accident_Index                                 1651182
Location_Easting_OSGR                          1651179
Location_Northing_OSGR                         1651179
Longitude                                      1651179
Latitude                                       1651179
Police_Force                                   1651182
Accident_Severity                              1651182
Number_of_Vehicles                             1651182
Number_of_Casualties                           1651182
Date                                           1651182
Day_of_Week                                    1651182
Time                                           1651145
Local_Authority_(District)                     1651182
Local_Authority_(Highway)                      1651182
1st_Road_Class                                 1651182
1st_Road_Number                                1651182
Road_Type                                      1651182
Speed_limit                                    1651182
Junction_Detail                                1651182
Junction_Control                               1651182
2nd_Road_Class                                 1651182
2nd_Road_Number                                1651182
Pedestrian_Crossing-Human_Control              1651182
Pedestrian_Crossing-Physical_Facilities        1651182
Light_Conditions                               1651182
Weather_Conditions                             1651182
Road_Surface_Conditions                        1651182
Special_Conditions_at_Site                     1651182
Carriageway_Hazards                            1651182
Urban_or_Rural_Area                            1651182
Did_Police_Officer_Attend_Scene_of_Accident    1651182
LSOA_of_Accident_Location                      1651182
dtype: int64

In [13]:
Cleaned_MV = cleaned_Missing_Values.dropna(subset=['Time'])

In [14]:
Location_Cleaned_MV = Cleaned_MV.dropna(subset=['Longitude', 'Latitude', 'Location_Northing_OSGR', 'Location_Easting_OSGR'])
Location_Cleaned_MV.count()

Accident_Index                                 1651142
Location_Easting_OSGR                          1651142
Location_Northing_OSGR                         1651142
Longitude                                      1651142
Latitude                                       1651142
Police_Force                                   1651142
Accident_Severity                              1651142
Number_of_Vehicles                             1651142
Number_of_Casualties                           1651142
Date                                           1651142
Day_of_Week                                    1651142
Time                                           1651142
Local_Authority_(District)                     1651142
Local_Authority_(Highway)                      1651142
1st_Road_Class                                 1651142
1st_Road_Number                                1651142
Road_Type                                      1651142
Speed_limit                                    1651142
Junction_Detail                                1651142
Junction_Control                               1651142
2nd_Road_Class                                 1651142
2nd_Road_Number                                1651142
Pedestrian_Crossing-Human_Control              1651142
Pedestrian_Crossing-Physical_Facilities        1651142
Light_Conditions                               1651142
Weather_Conditions                             1651142
Road_Surface_Conditions                        1651142
Special_Conditions_at_Site                     1651142
Carriageway_Hazards                            1651142
Urban_or_Rural_Area                            1651142
Did_Police_Officer_Attend_Scene_of_Accident    1651142
LSOA_of_Accident_Location                      1651142
dtype: int64

In [ ]:
# df.dropna(subset=['name', 'born'])

In [20]:
# Which type of roads contain the highest number of accidents? (could use google maps api to make heat map of areas 
# with highest amounts of accidents)
# Accident_Index, Road_Type, Longitude, Latitude, Speed_limit, Weather_Conditions, Light_Conditions, Day_of_Week

num_acc_df = Location_Cleaned_MV[['Accident_Index', 'Road_Type','Latitude','Longitude']]
num_acc_df.head(10)
# df1 = df[['a','b']]

  Accident_Index  Road_Type   Latitude  Longitude
0  200501BS00001          6  51.489096  -0.191170
1  200501BS00002          3  51.520075  -0.211708
2  200501BS00003          6  51.525301  -0.206458
3  200501BS00004          6  51.482442  -0.173862
4  200501BS00005          6  51.495752  -0.156618
5  200501BS00006          6  51.515540  -0.203238
6  200501BS00007          6  51.512695  -0.211277
7  200501BS00009          3  51.502260  -0.187623
8  200501BS00010          6  51.483420  -0.167342
9  200501BS00011          6  51.512443  -0.206531