In [1]:
import pandas as pd

In [2]:
vehicle_data = pd.read_csv('Resources/Vehicles0515.csv', error_bad_lines=False)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [8]:
vehicle_data.head()

,Accident_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,200501BS00001,1,9,0,18,0,0,0,0,0,...,1,15,2,74,10,-1,-1,-1,7,1
1,200501BS00002,1,11,0,4,0,3,0,0,0,...,1,1,1,42,7,8268,2,3,-1,-1
2,200501BS00003,1,11,0,17,0,0,0,4,0,...,1,1,1,35,6,8300,2,5,2,1
3,200501BS00003,2,9,0,2,0,0,0,0,0,...,1,15,1,62,9,1762,1,6,1,1
4,200501BS00004,1,9,0,18,0,0,0,0,0,...,1,15,2,49,8,1769,1,4,2,1

In [4]:
vehicle_data.count()

Accident_Index                      3004425
Vehicle_Reference                   3004425
Vehicle_Type                        3004425
Towing_and_Articulation             3004425
Vehicle_Manoeuvre                   3004425
Vehicle_Location-Restricted_Lane    3004425
Junction_Location                   3004425
Skidding_and_Overturning            3004425
Hit_Object_in_Carriageway           3004425
Vehicle_Leaving_Carriageway         3004425
Hit_Object_off_Carriageway          3004425
1st_Point_of_Impact                 3004425
Was_Vehicle_Left_Hand_Drive?        3004425
Journey_Purpose_of_Driver           3004425
Sex_of_Driver                       3004425
Age_of_Driver                       3004425
Age_Band_of_Driver                  3004425
Engine_Capacity_(CC)                3004425
Propulsion_Code                     3004425
Age_of_Vehicle                      3004425
Driver_IMD_Decile                   3004425
Driver_Home_Area_Type               3004425
dtype: int64

In [6]:
vehicle_data.shape

(3004425, 22)

In [9]:
vehicle_data.describe

<bound method NDFrame.describe of         Accident_Index  Vehicle_Reference  Vehicle_Type  \
0        200501BS00001                  1             9
1        200501BS00002                  1            11
2        200501BS00003                  1            11
3        200501BS00003                  2             9
4        200501BS00004                  1             9
5        200501BS00005                  1             3
6        200501BS00006                  1             9
7        200501BS00006                  2             3
8        200501BS00007                  1             3
9        200501BS00007                  2             9
10       200501BS00009                  1             9
11       200501BS00010                  1             9
12       200501BS00010                  2             9
13       200501BS00011                  1            11
14       200501BS00011                  2            90
15       200501BS00012                  1             9
16       200501BS00014                  1             9
17       200501BS00014                  2             3
18       200501BS00015                  1             9
19       200501BS00016                  1             9
20       200501BS00016                  2             9
21       200501BS00017                  1             5
22       200501BS00018                  1            11
23       200501BS00019                  1             5
24       200501BS00019                  2             9
25       200501BS00020                  1             9
26       200501BS00020                  2             3
27       200501BS00021                  1             5
28       200501BS00021                  2             9
29       200501BS00022                  1             9
...                ...                ...           ...
3004395  2014984132014                  1             9
3004396  2014984132014                  2             9
3004397  2014984132714                  1             9
3004398  2014984133414                  1             9
3004399  2014984133414                  2             9
3004400  2014984133514                  1             9
3004401  2014984133514                  2             9
3004402  2014984133714                  1             3
3004403  2014984133714                  2             9
3004404  2014984133914                  1             9
3004405  2014984133914                  2            17
3004406  2014984133914                  3            21
3004407  2014984134314                  1             9
3004408  2014984134614                  1            19
3004409  2014984134614                  2            19
3004410  2014984134914                  1             9
3004411  2014984135714                  1             9
3004412  2014984135914                  1            21
3004413  2014984136214                  1             9
3004414  2014984136214                  2            21
3004415  2014984136414                  1             9
3004416  2014984136414                  2             9
3004417  2014984137514                  1            21
3004418  2014984137514                  2            21
3004419  2014984137714                  1             9
3004420  2014984138414                  1             9
3004421  2014984138414                  2            19
3004422  2014984138414                  3             9
3004423  2014984139614                  1            11
3004424  2014984139614                  2             9

         Towing_and_Articulation  Vehicle_Manoeuvre  \
0                              0                 18
1                              0                  4
2                              0                 17
3                              0                  2
4                              0                 18
5                              0                 18
6                              0                  5
7                              0                 18
8                              0                 18
9                              0                  2
10                             0                 18
11                             0                 18
12                             0                  9
13                             0                  9
14                             0                 18
15                             0                 18
16                             0                  9
17                             0                 18
18                             0                  9
19                             0                 18
20                             0                  7
21                             0                 18
22                             0                 18
23                             0                 18
24                             0                  9
25                             0                  9
26                             0                 18
27                             0                 13
28                             0                  6
29                             0                 18
...                          ...                ...
3004395                        0                 13
3004396                        0                 13
3004397                        0                 18
3004398                        5                 10
3004399                        5                 10
3004400                        0                  9
3004401                        0                 18
3004402                        0                 18
3004403                        0                  4
3004404                        0                 13
3004405                        0                 18
3004406                        1                 18
3004407                        0                 17
3004408                        0                 18
3004409                        0                 18
3004410                        0                 18
3004411                        0                 17
3004412                        1                 18
3004413                        0                 13
3004414                        1                 13
3004415                        0                 18
3004416                        0                 18
3004417                        1                 18
3004418                        1                 18
3004419                        0                  4
3004420                        0                  5
3004421                        0                 18
3004422                        0                 18
3004423                        0                  9
3004424                        0                 18

         Vehicle_Location-Restricted_Lane  Junction_Location  \
0                                       0                  0
1                                       0                  3
2                                       0                  0
3                                       0                  0
4                                       0                  0
5                                       0                  0
6                                       0                  0
7                                       0                  0
8                                       0                  1
9                                       0                  1
10                                      0                  0
11                                      0                  8
12                                      0                  8
13                                      0                  8
14                                      0                  8
15                                      0                  8
16                                      0                  8
17                                      0                  8
18                                      0                  3
19                                      0                  8
20                                      0                  8
21                                      0                  0
22                                      0                  1
23                                      0                  8
24                                      0                  8
25                                      0                  8
26                                      0                  8
27                                      0                  0
28                                      0                  0
29                                      0                  1
...                                   ...                ...
3004395                                 0                  0
3004396                                 0                  0
3004397                                 0                  0
3004398                                 0                  1
3004399                                 0                  1
3004400                                 0                  6
3004401                                 0                  1
3004402                                 0                  1
3004403                                 0                  1
3004404                                 0                  0
3004405                                 0                  0
3004406                                 0                  0
3004407                                 0                  1
3004408                                 0                  0
3004409                                 0                  0
3004410                                 0                  0
3004411                                 0                  2
3004412                                 0                  0
3004413                                 0                  0
3004414                                 0                  0
3004415                                 0                  0
3004416                                 0                  0
3004417                                 0                  0
3004418                                 0                  0
3004419                                 0                  0
3004420                                 0                  6
3004421                                 0                  1
3004422                                 0                  2
3004423                                 0                  8
3004424                                 0                  1

         Skidding_and_Overturning  Hit_Object_in_Carriageway  \
0                               0                          0
1                               0                          0
2                               0                          4
3                               0                          0
4                               0                          0
5                               1                         10
6                               0                          0
7                               0                          0
8                               0                          4
9                               0                          0
10                              0                          0
11                              0                          0
12                              0                          0
13                              0                          0
14                              0                          0
15                              0                          0
16                              0                          0
17                              0                          0
18                              0                          0
19                              0                          7
20                              0                          0
21                              0                          0
22                              0                          0
23                              0                          0
24                              0                          0
25                              0                          0
26                              0                          0
27                              0                          0
28                              0                          0
29                              0                          0
...                           ...                        ...
3004395                         0                          0
3004396                         1                          0
3004397                         0                          0
3004398                         0                          0
3004399                         0                          0
3004400                         0                          0
3004401                         0                          0
3004402                         0                          0
3004403                         0                          0
3004404                         0                          0
3004405                         0                          0
3004406                         0                          0
3004407                         5                          0
3004408                         0                          0
3004409                         0                          0
3004410                         5                          0
3004411                         5                          0
3004412                         0                          0
3004413                         1                          0
3004414                         0                          0
3004415                         1                          0
3004416                         0                          0
3004417                         0                          0
3004418                         0                          0
3004419                         1                         10
3004420                         0                          0
3004421                         1                          4
3004422                         1                          4
3004423                         0                          0
3004424                         0                          0

         Vehicle_Leaving_Carriageway          ...            \
0                                  0          ...
1                                  0          ...
2                                  0          ...
3                                  0          ...
4                                  0          ...
5                                  0          ...
6                                  0          ...
7                                  0          ...
8                                  0          ...
9                                  0          ...
10                                 1          ...
11                                 0          ...
12                                 0          ...
13                                 0          ...
14                                 0          ...
15                                 0          ...
16                                 0          ...
17                                 0          ...
18                                 0          ...
19                                 7          ...
20                                 0          ...
21                                 0          ...
22                                 0          ...
23                                 0          ...
24                                 0          ...
25                                 0          ...
26                                 0          ...
27                                 0          ...
28                                 0          ...
29                                 0          ...
...                              ...          ...
3004395                            0          ...
3004396                            8          ...
3004397                            5          ...
3004398                            0          ...
3004399                            0          ...
3004400                            0          ...
3004401                            0          ...
3004402                            0          ...
3004403                            0          ...
3004404                            1          ...
3004405                            0          ...
3004406                            0          ...
3004407                            1          ...
3004408                            0          ...
3004409                            0          ...
3004410                            2          ...
3004411                            2          ...
3004412                            1          ...
3004413                            1          ...
3004414                            0          ...
3004415                            0          ...
3004416                            0          ...
3004417                            0          ...
3004418                            0          ...
3004419                            2          ...
3004420                            0          ...
3004421                            7          ...
3004422                            1          ...
3004423                            0          ...
3004424                            0          ...

         Was_Vehicle_Left_Hand_Drive?  Journey_Purpose_of_Driver  \
0                                   1                         15
1                                   1                          1
2                                   1                          1
3                                   1                         15
4                                   1                         15
5                                   1                         15
6                                   1                         15
7                                   1                         15
8                                   1                         15
9                                   1                         15
10                                  1                         15
11                                  1                         15
12                                  1                         15
13                                  1                          1
14                                  1                         15
15                                  1                         15
16                                  1                         15
17                                  1                         15
18                                  1                         15
19                                  1                         15
20                                  1                         15
21                                  1                         15
22                                  1                          1
23                                  1                         15
24                                  2                         15
25                                  1                         15
26                                  1                         15
27                                  1                         15
28                                  1                         15
29                                  1                         15
...                               ...                        ...
3004395                             1                          1
3004396                             1                          2
3004397                             1                          6
3004398                             1                          6
3004399                             1                          6
3004400                             1                          6
3004401                             1                          3